@charset "utf-8";

main {
    background: linear-gradient(
        to top, 
        #FCFBFA 0%,      /* 上端の明るい色 */
        #EDE6DD 50%,     /* 中間の柔らかい色 */
        #F8F6F3 100%     /* 下端を少し濃く */
    );
    padding: 3em 2em;       /* 上下左右の余白を確保 */
    box-sizing: border-box; /* 内側余白を正しく計算 */
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family: 'Noto Serif KR', serif;
  font-size: 12px;
}

.breadcrumb li:not(:last-of-type)::after {
  content: "›";
  margin: 0 .6em; /* 記号の左右の余白 */
  color: #777; /* 記号の色 */
}

main h1 {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    margin-bottom: 50px;
}

.career {
    margin-left: 300px;
}

.career ul {
    font-family: 'Noto Serif KR', serif;
    font-size: 12px;
    line-height: 30px;
}

.career_list strong {
  display: inline-block;
  width: 5em; /* 年代部分を揃える */
  font-family: 'Noto Serif KR', serif;
  font-weight: normal;
}

.career-list li:not(:has(strong))::before {
  content: "";
  width: 5em;
  flex-shrink: 0;
}

.design {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
}