@charset "utf-8";

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header_logo img {
  width: 100px;
  height: auto;
  object-fit: contain; 
  display: block;
}
ul,
ol{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    line-height: 1;
    background-color: #FCFBFA;
}

.header_inner{
    max-width: 1600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle_menu_button{
    display: none;
}

.site_menu ul {
    display: flex;
}

.site_menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

.site_menu ul li a{
    font-family: 'Pretendard', 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

footer {
    padding-top: 30px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Serif KR', serif;
    font-size: 16px;
    background-color: #000;
    color: #FFF;
    line-height: 20px;
}

footer p {
    font-size: 12px;
    font-family: 'Noto Serif KR', serif;
    line-height: 25px;
}

.name {
    font-size: 20px;
    font-family: 'Noto Serif KR', serif;
    margin-bottom: 20px;
}
